@model MatriculasUPN.CapaEntidad.Estudiante

@{
    ViewBag.Title = "Matricula";
}

<h2>Matricula - @Model.GetNames()</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        <h4> Periodos abiertos para la inscripción </h4>
        @Html.DropDownList("cboPeriodo", (SelectList)ViewBag.listaPeriodo, "Seleccione un periodo", new { @class = "form-control" })

        @if (TempData["Message"] != null) { 
            <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>
        }

        <div style="margin-top: 70px">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>

    </div>

}